# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# For cypress tests
src/.Trash-0/
src/cypress/videos/
cypress/videos/
.Trash-0/
node_modules/
cypress/integration/header-spec.js
cypress/screenshots/
